<html>
    <head>
        <title>
            kdfsnj
        </title>
        <style>
            .containter {
                display: flex;
                justify-content: center;
            }
            
        </style>
    </head>
    <body>
        <h1>
            <div>
                <h3>Balance:$$$$</h3>
                <h3>Credibility</h3>
                <h3>Jury Convicted</h3>
                <h2 style="text-align: center;">High Rebutal</h2>
                <div class="containter">
                    <button><img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-james-wheeler-414612.jpg&fm=jpg" style="width: 250px;height: 250px;"></button>
                    <button><img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-james-wheeler-414612.jpg&fm=jpg" style="width: 250px;height: 250px;"></button>
                    <button><img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-james-wheeler-414612.jpg&fm=jpg" style="width: 250px;height: 250px;"></button>
                </div>
                <h2 style="text-align: center;">Mid Rebutal</h2>
                <div class="containter">
                    <button><img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-james-wheeler-414612.jpg&fm=jpg" style="width: 250px;height: 250px;"></button>
                    <button><img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-james-wheeler-414612.jpg&fm=jpg" style="width: 250px;height: 250px;"></button>
                    <button><img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-james-wheeler-414612.jpg&fm=jpg" style="width: 250px;height: 250px;"></button>
                </div>
                <h2 style="text-align: center;">Low Rebutal</h2>
                <div class="containter">
                    <button><img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-james-wheeler-414612.jpg&fm=jpg" style="width: 250px;height: 250px;"></button>
                    <button><img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-james-wheeler-414612.jpg&fm=jpg" style="width: 250px;height: 250px;"></button>
                    <button><img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-james-wheeler-414612.jpg&fm=jpg" style="width: 250px;height: 250px;"></button>
                </div>
            </div>
        </h1>
    </body>
</html>