<html>
    <head>
        <script src="/js/evidance.js"></script>
        <title>
            Will is lame af, on god no cap on god
        </title>
    </head>
    <body>
        <h1>
            Temp Body will do later :P
        </h1>
        <form action="/join_code" method="POST">
            <input type="text" placeholder="Game Code" id="code" name="code">
            <input type="submit" placeholder="Join Game" value="Join Game">
        </form>
        <form action="/make_lobby">
            <input type="submit" placeholder="Make Lobby" id="Make Lobby" value="Make Lobby">
        </form>
    </body>
</html>