:root {
  --darkGreen: #0a231f;
  --lightGreen: ;
  --creme: ;
  --textWhite: ;
  --textBlack: ;
}

body {
  margin: 0;
  font-family: 'Bookman Old Style';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
